<nav class="navbar navbar-ligth bg-light"><a style="margin-left: 20px;"  class="navbar-brand " href="/"><img class="pr-5"" src="https://cdn-icons-png.flaticon.com/512/752/752675.png" alt="" width="50px" height="50px"> Perguntas</a></nav>
